{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div>
    <p class="about_title">Hello Stranger!</p>
    <p class="justified_text">My name is Sandra and this is my Final Project of the Harvard University's course - Introduction to Computer Science, also known as CS50.
        For a couple of years I have been interested in Clinical Studies and all of the processes associated to them.
        As a pharmacist, thanks to my knowledge, I had a chance to be a part of the clinical teams and provide real contribution to patients' life.
        My pure curiosity and programming skills I developed during the course led me to Clinical Studies' Charts.
    </p>
</div>


{% endblock %}
